CompileFlags:
  Compiler: /usr/local/cuda/bin/nvcc
  Add:
    -- -I/home/jeromeku/pytorch/.torch-env/lib/python3.12/site-packages/torch/include 
    -- -I/home/jeromeku/pytorch/.torch-env/lib/python3.12/site-packages/torch/include/torch/csrc/api/include
    - --cuda-path=/usr/local/cuda
    - --cuda-gpu-arch=sm_100a
    - -I/usr/local/cuda/include
    - "-xcuda"
    - "-ferror-limit=0"
    - --cuda-gpu-arch=sm_100a
    - --std=c++17
    - "-D__INTELLISENSE__"
    - "-D__CLANGD__"
    - "-DCUDA_12_0_SM100_FEATURES_SUPPORTED"
    - "-DCUTLASS_ARCH_MMA_SM100_SUPPORTED=1"
    - "-D_LIBCUDACXX_STD_VER=12"
    - "-D__CUDACC_VER_MAJOR__=12"
    - "-D__CUDACC_VER_MINOR__=8"
    - "-D__CUDA_ARCH__=1000"
    - "-D__CUDA_ARCH_FEAT_SM90_ALL"
    - "-Wno-invalid-constexpr"
  Remove:
#strip CUDA fatbin args
    - "-Xfatbin*"
#strip CUDA arch flags
    - "-gencode*"
    - "--generate-code*"
#strip CUDA flags unknown to clang
    - "-ccbin*"
    - "--compiler-options*"
    - "--expt-extended-lambda"
    - "--expt-relaxed-constexpr"
    - "-forward-unknown-to-host-compiler"
    - "-Werror=cross-execution-space-call"
Hover:
  ShowAKA: Yes
InlayHints:
  Enabled: Yes
Diagnostics:
  Suppress:
    - "variadic_device_fn"
    - "attributes_not_allowed"